
body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;

}

.adr { 
   
font-style: normal;
}
.info{
    font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.02em;
text-decoration: none;
color: #434455;
}
.info:hover{
color: #404BBF;
}
.info:focus{
color: #404BBF;
}
.studio{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
color: #2E2F42;
}
.studio:hover{
    color: #404bbf;
}
.studio:focus{
   color: #404bbf;
}
.order{
    background-color:#2E2F42 ;
}
.eff{
    color: #FFFFFF;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
}
.ordserv{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: #FFF;
background: #4D5AE5;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
}

.ordserv:hover{
    background-color: #404BBF;
}
.ordserv:focus{
    background-color:#404BBF ;
}
.strat{
color: #2e2f42;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2; 
letter-spacing: 0.4px;
letter-spacing: 0.02em;
text-transform: capitalize;
}
.team{
    background-color: #F4F4FD;
}
.oteam{
    font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11; /* 111.111% */
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
}
.teamli1{
    background-color: WHITE;
}

footer{
    background-color: #2E2F42;
    color: #F4F4FD ;
}
ul, ol {
	list-style-type: none;
}
.studio{
    font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
}
.web1{
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: "Raleway", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 21px; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
}
.web{
    color: var(--CLOUD, #F4F4FD);
    font-family: "Raleway", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 21px; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
}
.logo{
    color: var(--IRIS, #4D5AE5);
    font-family: "Raleway", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
text-decoration: none;
text-transform: uppercase;
line-height: 1.17;
letter-spacing: 0.03em;
}
.logo1{
    color: var(--IRIS, #4D5AE5);
    font-family: "Raleway", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
text-decoration: none;
text-transform: uppercase;
line-height: 1.17;
letter-spacing: 0.03em;
}
.par{
   color: #434455;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.02;
}
.port{
    background-color: #FFFFFF;
}
.foot{
    background-color: #2e2f42;
}
.footp{
    color: #F4F4FD;
    letter-spacing: 0.02em;
    line-height: 1.5;
}
.photo{
    background-color: #FFFFFF;
}